// styles in src/style directory are applied to the whole page
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,100);

body {
    background: #0147A7;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}
a {
    color: #03A9F4;
    text-decoration: none;
}

h1, h2, h3{
	font-weight: 200;
}
